*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    display: grid;
    place-content: center;
    height: 100vh
}

.canvas{
    background-image: url(./media/pasto.jpg);
    background-repeat: no-repeat;
    background-size:600px 600px;
    object-fit: ;
   
}